@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --color-violeta: #bbb6fb;
    --color-shadow: #6e6aa1;
    --color-border: #c1c2fa;
    --color-verde: #d9e5fc;
    --color-fondo: #f4e3d4;
    --color-fondo: #2c2c2c;
    --color-letter: #3a3a3a;
    --color-letterw: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Poetsen One", "sans serif";
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/border.svg);
}

img {
    width: 100%;
    display: block;
}

button {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 10rem;
    font-family: "Poetsen One", "sans serif";
    background-color: var(--color-border);
    border-radius: 1.2rem;
    border: 1px solid var(--color-shadow);
    box-shadow: 3px 3px var(--color-shadow);
    transition: all 0.2s linear;
    color: var(--color-letterw);
    text-align: center;
    margin: auto;
    margin-top: 4rem;
}

button:hover {
    background-color: var(--color-shadow);
    color: var(--color-violeta);
    box-shadow: 3px 3px var(--color-violeta);
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5rem;
    height: 100vh;
    display: grid;
    place-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
   align-items: center;
}

.dice {
    border: 1px solid var(--color-shadow);
    background-color: var(--color-violeta);
    border-radius: 2rem;
    position: relative;
    box-shadow: 3px 3px var(--color-shadow);
    width: 250px;
    height: 250px;
}

.whatdice {
    border: 1px solid var(--color-shadow);
    background-color: var(--color-violeta);
    border-radius: 2rem;
    box-shadow: 3px 3px var(--color-shadow);
    width: 250px;
    height: 80px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    border: 1px solid var(--color-shadow);
    width: 250px;
    height: 250px;
    margin-bottom: 2rem;
    background-color: var(--color-violeta);
    border-radius: 2rem;
    position: relative;
    box-shadow: 3px 3px var(--color-shadow);
    z-index: -10;
}

.nombre {
    color: var(--color-letter);
    font-size: 15rem;
    z-index: 10;
    text-align: center;
    margin: 30px auto;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem 1.2rem;
    background-color: var(--color-border);
    border-radius: 2rem 2rem 0 0;
    border-bottom: 1px solid var(--color-shadow);
}

.icons span,
.value {
    font-size: 1.4rem;
    color: var(--color-shadow);
    font-weight: 500;
    letter-spacing: 0.6px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 24;
}

@media (max-width: 500px){
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }
    .controls{
        margin-top: 5rem;
    }
}